@tailwind base;
@tailwind components;
@tailwind utilities;

.overflow-scroll::-webkit-scrollbar { 
  display: none; 
}

body {
  overscroll-behavior-y: none;
  scroll-behavior: smooth;
}

textarea { 
  color: inherit;
  font: inherit;
  margin: 0px;
}




